{% extends 'base.html' %}
{% load crispy_forms_tags %}

{#{% extends "account/base.html" %}#}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
    Log In
{% endblock title %}

{% block content %}
    <div class="login">
    <h2>Log In</h2>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please log in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}"><span>sign up</span></a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">Sign in</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="form" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn" type="submit">Log In</button>
    </form>
    </div>
    <div class="pass">
        <p>Forgotten your password?</p>
        <a class="btn" href="{% url 'account_reset_password' %}">Reset Password</a>
    </div>
{% endblock content %}