body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: rgba(123, 182, 239);
}

.avatar {
    height: 100px;
    width: auto;
}

.list-users{
    display: block;


}

.container{
    display: flex;
    margin: 20px 0;
}