*, *:before, *:after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

/*Header*/
header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    width: 100%;
    height: 80px;
    padding: 0 10%;
    /*background-color: #101010;*/
    background-color: #10373E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo h1{
    color: white;
    font-size: 32px;
    font-weight: 200;
    transition: 1s;
}

.logo h1:hover {
    transform: scale(1.1);
}

.logo h1 span{
    font-weight: 800;
}

nav {
    height: 100%;
    line-height: 100%;
}

.navigation {
    list-style: none;
}

.nav_page {
    position: relative;
    float: left;
}

.menu {
    list-style: none;
    display: none;
    transition: 1s;
}

.item {
    font-size: 20px;
    padding: 32px;
    color: white;
    display: block;
    transition: .5s;
}

.item:hover {
    background: rgba(215, 215, 215, 0.7);
    color: black;
}

.secret {
    background: rgba(215, 215, 215, 0.9);
    font-size: 20px;
    padding: 32px;
    color: #10373E;
    display: block;
    transition: .5s;
}

.secret:hover {
    background: rgba(162, 162, 162, 0.9);
}

.nav_page:focus-within > .menu,
.nav_page:hover > .menu{
    display: initial;
}


/*Main*/
main {
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 10%;
}

main .home {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2vw;
    margin: 1rem auto;
}

/* Users */
aside h1{
    text-align: center;
    padding: 10px 0;
}

.list-users {
    display: grid;
    grid-auto-columns: 200px;
    grid-gap: 1vw;
}

.list-users .user{
    border-radius: 5px;
    background-color: rgba(234, 234, 234, 0.2);
    box-shadow: 2px 2px 4px 0px rgb(56, 56, 56);
    transition: .3s;
    color: black;
}

.list-users .user:hover{
    transform:scale(1.02);
    background-color: rgba(234, 234, 234, 0.1);
    box-shadow: 3px 3px 5px 0px rgb(56, 56, 56);
    color: black;
}

.list-users .user a{
    display: flex;
    align-items: center;
}

.list-users .user a .avatar{
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.list-users .user a p{
    padding: 0 10px;
    font-size: 20px;
    color: black;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Chats */
.chats h1{
    text-align: center;
    padding: 10px 0;
}

.chats .list-chats{
    display: grid;
    grid-gap: 1vw;
}

.chats .chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 70px;
    border-radius: 5px;
    background-color: rgba(234, 234, 234, 0.2);
    box-shadow: 2px 2px 4px 0px rgb(56, 56, 56);
    transition: .3s;
    color: black;
    width: 100%;
}

.chats .chat:hover{
    transform:scale(1.02);
    background-color: rgba(234, 234, 234, 0.1);
    box-shadow: 3px 3px 5px 0px rgb(56, 56, 56);
    color: black;
}


.login{
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1vw;
}

.login p a span{
    font-weight: 900;
}

.btn {
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: none;
    border: 0;

    margin: 5px 0;
    font-size: 16px;
    line-height: 18px;
}

.btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.3);
    background-color: #10373E;
}

input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    background-color: #fafafa;
    border:0;
    border-radius:10px;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .5s box-shadow;
}

input:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.7);
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
}

a.button:hover{
    box-shadow:0 0 4px rgba(0,0,0,0.7);
    background-color: #10373E;
}

a.button span{
    font-size: 17px;
    font-weight: 900;
}

/* Profile */
.profile{
    display: grid;
    row-gap: 1vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.profile span{
    font-size: 22px;
    font-weight: 900;
}

/* Avatar */
.avatar {
    height: 100px;
    width: auto;
}

.avatar-container{
    display: flex;
}

.avatar-container .change-img{
    display: block;
    margin: 5px;
}

.avatar-container .change-img #image{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0;
}

.avatar-container .change-img #image::file-selector-button{
    cursor: pointer;
    color: #fff;
    /*width: 150px;*/
    padding:10px 20px;
    background-color: grey;
    border:0;
    border-radius: 4px;

    transition: 0.3s;
    box-shadow: none;

    margin: 5px 0;
    font-size: 16px;
    line-height: 18px;
}

.avatar-container .change-img #image::file-selector-button:hover{
    box-shadow:0 0 4px rgba(0,0,0,0.7);
    background-color: #10373E;
}

.change-name{
    display: none;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.change-name button{
    margin: 0 10px;
}


/* Forms */
.create-chat{
    display: grid;
    grid-gap: 1vw;
    height: 70px;

    border-radius: 5px;
    background-color: rgba(234, 234, 234, 0.2);
    box-shadow: 2px 2px 4px 0px rgb(56, 56, 56);

    transition: height .2s;
}

.arrow-dwn{
    display:flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.create-chat-header{
    height: 70px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.new-chat{
    display: grid;
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding: 10px 10px;
    grid-gap: 1vw;
    transition: height 100ms, opacity 200ms;
}

.create-chat.open{
    height: 400px;
}

.create-chat.open .arrow-dwn{
    transform: rotate(-180deg);
}

.create-chat.open .new-chat{
    height: auto;
    opacity: 1;
    transition: height 100ms, opacity 200ms;
}

.btn-text{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.arrow{
    width: 20px;
}

.form {
    width:960px;
    padding: 20px 0;
}

select.form-control {
  width: 100%;
  height: 5rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: rgba(243, 228, 193, 0.2);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.form-control option {
  color: #495057;
  font-weight: normal;
}

select.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
