<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

</head>
<body>
    <header>
        <a class='logo' href="{% url 'home' %}" title="Home page"><h1>Chat</h1></a>
        <nav>
            <ul class="navigation">

                {% if user.is_authenticated %}
                <li class="nav_page">
                    <a class="item nav-username" id={{user.id}} data-username={{user.username}} href="#">
                        Hi, {{ user.username }}! ▼
                    </a>
                    <ul class="menu">
                        <li class="bar"><a class="secret" href="{% url 'profile' user.id %}" title="profile">
                                Profile
                            </a>
                        </li>
                        <li class="bar"><a class="secret" href="{% url 'account_logout' %}" title="log out">
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav_page">
                    <a class="item" href="{% url 'account_login' %}" title="log in">Log In</a>
                </li>
                <li class="nav_page">
                    <a class="item" href="{% url 'account_signup' %}" title="sign up">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>